.EditorAndPreviewPanel {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.PreviewArea {
	flex-grow: 0;
	flex-shrink: 1;
	min-height: 0;
	position: relative;
}

.EditorArea {
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}
