.SplitPane {
	--divider-width: 5px;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: [PaneA] var(--position-a, 1fr) [Divider] var(--divider-width) [PaneB] var(--position-b, 1fr);
	gap: 2px;
}

.Pane {
	position: relative;
	overflow: auto;
}

.PaneA {
	composes: Pane;
	grid-column: PaneA;
}

.Divider {
	grid-column: Divider;
	cursor: col-resize;
}

.DividerActive {
	composes: Divider;
	background-color: var(--bs-primary);
}

.Divider:hover {
	background-color: var(--bs-primary);
}

.PaneB {
	composes: Pane;
	grid-column: PaneB;
}
