.ScriptEditor {
	overflow: auto;
	scrollbar-width: none;
	min-height: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

:global(.Prompter .ProseMirror) {
	outline: none;
}

.ScriptEditor:focus-within {
	outline: 3px solid var(--bs-primary);
	outline-offset: -3px;
}
