.SegmentLineList {
	display: grid;
	--width-flag-column: 2em;
	grid-template-columns:
		[flag-new] var(--width-flag-column) [flag-caret] var(--width-flag-column) [flag-output] var(--width-flag-column)
		[segment-name] minmax(10em, 1fr) [flag-on-air] var(--width-flag-column) [line-identifier] 3em [line-type] 4em [line-slug] minmax(
			10em,
			2fr
		)
		[line-script] auto [line-read-time] minmax(6em, 1fr) [line-expected-duration] minmax(6em, 1fr) [end];
	padding: 0;
	margin: 0;
	--cell-padding: 2px 0.5em;
	user-select: none;
	margin: 1em;
}

.HeaderIdle {
	background-color: #2689ba;
}
.HeaderActive {
	background-color: #000;
}
.HeaderRehearsal {
	background-color: #660;
}
