/* The following line can be included in a src/App.scss */
$primary: #1769ff;
$primary-dark: #132039;
//$dark: #252627; // this is Origo's original dark color
$dark-1: #1d1d1d;
$dark-2: #2a2a2a;
$dark: $dark-1;
$body-bg-dark: $dark;

$font-family-sans-serif: Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
	'Noto Color Emoji';
$font-size-base: 0.875rem;

$link-color: $primary;

$border-radius: 3px;

$btn-padding-x: 0.8em;
$btn-padding-y: 0.4em;
$btn-font-weight: 700;

$theme-colors: (
	'primary': $primary,
	'dark': $dark,
);

@import 'bootstrap/scss/bootstrap';

.btn {
	letter-spacing: 0.2px;
}

:root {
	-webkit-font-smoothing: antialiased;
	--color-dark-1: #{$dark-1};
	--color-dark-2: #{$dark-2};
	--color-primary-dark: #{$primary-dark};

	--color-on-air: #f00;
	--color-next: #0f0;
	--color-on-air-dark: #ff00007d;
	--color-next-dark: #6bc6417d;
	--color-on-air-output: #ff00007d;
	--color-next-output: #6bc6417d;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(:focus-visible) {
	outline: none;
}

/* Optional: Customize .focus-visible */
:focus-visible {
	outline: $primary solid 2px;
}
