.Prompter {
	--background-color: #000;
	--foreground-color: #fff;
	--header-color: #999;

	--prompter-font-size-base: 16px;
	--prompter-line-height: calc(var(--prompter-font-size-base) * 1.1);
	--prompter-horiz-padding: calc(var(--prompter-font-size-base) * 0.5);

	color: var(--foreground-color);
	background: var(--background-color);

	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;

	padding: 0 0;
	overflow: auto;
	box-sizing: border-box;

	font-size: var(--prompter-font-size-base);
	line-height: var(--prompter-line-height);

	/* These are needed to maintain compatibility with Prose-mirror's text layout */
	word-wrap: break-word;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
	white-space: break-spaces;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: 'liga' 0;
	font-kerning: none;

	overflow-anchor: none;
}

.Prompter p {
	margin: 0;
	padding: 0 var(--prompter-horiz-padding);
	letter-spacing: -0.2px;
}

.Prompter b {
	font-weight: 700;
}

.Prompter i {
	font-style: italic;
}

.Prompter u {
	text-decoration: underline;
}

.Prompter s {
	text-decoration: none;
	opacity: 0.3;
}

.Prompter rev {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

.Prompter h1,
.Prompter h2,
.Prompter h3 {
	background-color: var(--header-color);
	color: var(--background-color);
	user-select: none;
	padding: 0 var(--prompter-horiz-padding);
	line-height: 1.2em;
	margin: 1em 0 0.1em;
}

.Prompter h1 {
	font-size: calc(var(--prompter-font-size-base) * 0.75);
}

.Prompter h2 {
	font-size: calc(var(--prompter-font-size-base) * 0.5);
	margin-bottom: -1em;
}

.Prompter h3 {
	font-size: calc(var(--prompter-font-size-base) * 0.5);
	padding: 0 calc(var(--prompter-horiz-padding) * 0.25);
	margin: 1em 0 0 calc(var(--prompter-horiz-padding) * 0.75);
}

.Prompter .spacer {
	height: 100vh;
}

.PrompterMarker {
	font-size: var(--prompter-font-size-base);
	position: absolute;
	/* TODO: this needs to be configurable properly */
	top: clamp(0.5em, calc(var(--prompter-font-size-base) * 2), calc(50% - var(--prompter-font-size-base) / 3));
	left: 0;

	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0.25em 0 0.25em 0.35em;
	border-color: transparent transparent transparent #ff4532;
	transform: rotate(0deg);
}

.Prompter span.colour.red {
	color: red;
}
.Prompter span.colour.yellow {
	color: yellow;
}
.Prompter rev span.colour.yellow,
.Prompter span.colour.yellow rev {
	color: rgb(113, 0, 237);
}
.Prompter span.screen-marker {
	margin: 10px;
}

.Prompter .LineSlug.isOnAir,
.Prompter h3[data-on-air='onAir'] {
	background-color: rgb(234, 73, 73);
}
.Prompter .LineSlug.isNext,
.Prompter h3[data-on-air='next'] {
	background-color: rgb(69, 216, 69);
}
