.Prompter {
	--background-color: #000;
	--foreground-color: #fff;
	--header-color: #999;

	--prompter-font-size-base: 16px;
	--prompter-line-height: calc(var(--prompter-font-size-base) * 1.4);

	color: var(--foreground-color);
	background: var(--background-color);

	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: break-spaces;

	padding: 0 2em;
	overflow: auto;
	box-sizing: border-box;

	font-size: var(--prompter-font-size-base);
	line-height: var(--prompter-line-height);

	/* These are needed to maintain compatibility with Prose-mirror's text layout */
	word-wrap: break-word;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
	white-space: break-spaces;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: 'liga' 0;
	font-kerning: none;

	overflow-anchor: none;
}

.Prompter p {
	margin: 0;
	padding: 0;
}

.Prompter b {
	font-weight: 700;
}

.Prompter i {
	font-style: italic;
}

.Prompter u {
	text-decoration: underline;
}

.Prompter s {
	text-decoration: none;
	opacity: 0.3;
}

.Prompter rev {
	background-color: var(--foreground-color);
	color: var(--background-color);
}

.Prompter h1,
.Prompter h2,
.Prompter h3 {
	background-color: var(--header-color);
	color: var(--background-color);
	user-select: none;
	margin: 1em 0;
}

.Prompter h1 {
	font-size: calc(var(--prompter-font-size-base) * 2);
	line-height: 1.4;
}

.Prompter h2 {
	font-size: calc(var(--prompter-font-size-base) * 1);
	line-height: 1.4;
}

.Prompter h3 {
	font-size: calc(var(--prompter-font-size-base) * 1);
	line-height: 1.4;
}

.Prompter .spacer {
	height: 100vh;
}

.Prompter .ProseMirror {
	outline: none;
}
