.Header {
	background: var(--color-dark-2);
	display: grid;
	grid-template-columns: [menu] 3em [page-title] minmax(5em, 50%) repeat(auto-fit, [options] minmax(1em, 5em));
	gap: 0.5em;
	padding: 0 0.5em;
	align-items: center;
	min-height: 3.5em;

	color: #fff;
	// position: sticky;
	// z-index: 10;
	// left: 0;
	// top: 0;
	// right: 0;
}
